*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    
}
.body{
    height: 100vh;
    width: 100%;
    background-color: antiquewhite;
    color: black;
}
.navbar{
    display: flex;
    align-items: center;
    background-color: black;
    height: 7vh;
    color: white;
    
}
.heading{
    display: flex;
    align-items: center;
}
.heading img{
    width: 20px;
    margin: 0 10px;
}
.links{
    display: flex;
}
.links li{
    list-style: none;
    margin: 0 20px;
}
/*================================ body-container ===============================================*/
.body-container{
    height: 73vh;
    width: 80%;
    margin: 20px auto;
    background-color: black;
    border-radius: 12px;
    background-image: url("./pictures/bg.jpg");
    background-position: center;
    padding: 20px;
    overflow-y: hidden;
}
.song-items{
    width: 50%;
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: hidden; /* Hide horizontal scrollbar */
    max-height: calc(100% - 20px);

}
.songs{
    background-color: antiquewhite;
    margin:30px 10px;
    border-radius: 48px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.songs img{
   margin: 0 10px;
   height: 30px;
   border-radius: 50%;
}
.play-btn .gif-inside{
    height: 20px;
    margin-top: 0.5rem;
    border-radius: 20px;
    opacity: 0;
}

/*================================ FOOTER =======================================================*/
.footer {
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    position: sticky;
    bottom: 0;
}

#play-controler {
    width: 80%;
    margin-bottom: 10px;
    cursor: pointer;
}

.gif-desc {
    position: absolute;
    left: 0;
    top: 2.5rem;
    margin-left: 150px;
    height: 20px;
    color: red;
}
.gif-desc span{
    margin-top: 5px;
}
  

.gif {
    margin-right: 5px;
    height: 20px;
    opacity: 0; /* Set opacity to 1 to make the gif visible */
    transition: 0.4s ease-in;
    border-radius: 20px;
    margin-top: 6px;
}
#masterplay {
    cursor: pointer;
}

#current-time {
    position: absolute;
    left: 7rem;
}

#total-duration {
    position: absolute;
    right: 7rem;
}

.timestamp i {
    cursor: pointer;
}